.album-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .add-new-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .album-dashboard-photos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .album-dashboard-numbers {
    margin: 20px;
  }
}